@model SpendMonitor.Models.TblIncome

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblIncome</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeSource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncomeCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncomeCategoryNavigation.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IncomeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
