@model IEnumerable<SpendMonitor.Models.TblIncome>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Income Date
            </th>
            <th>
                Income Amount
            </th>
            <th>
                Income Source
            </th>
            <th>
                Income Category
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeAmount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.IncomeSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IncomeCategoryNavigation.CategoryName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IncomeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IncomeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IncomeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
