@model SpendMonitor.Models.FinancialStatsModel

<ul>
    <li class="d-inline-block">
        <strong>@Html.DisplayNameFor(x => x.TotalCurrentMonthExpense)</strong>
        @Html.DisplayFor(x => x.TotalCurrentMonthExpense)
    </li>
    <li class="d-inline-block">
        <strong>@Html.DisplayNameFor(x => x.AverageMonthlyExpense)</strong>
        @Html.DisplayFor(x => x.AverageMonthlyExpense)
    </li>
</ul>
<ul>
    <li class="d-inline-block">
        <strong>@Html.DisplayNameFor(x => x.TotalCurrentMonthIncome)</strong>
        @Html.DisplayFor(x => x.TotalCurrentMonthIncome)
    </li>
    <li class="d-inline-block">
        <strong>@Html.DisplayNameFor(x => x.AverageMonthlyIncome)</strong>
        @Html.DisplayFor(x => x.AverageMonthlyIncome)
    </li>
</ul>

<div class="container">
    <strong>@Html.DisplayNameFor(x => x.ExpenseByCategory)</strong>

    @foreach (var item in Model.ExpenseByCategory)
    {
        <div class="row">
            <div class="col">
                @Html.DisplayFor(x => item.Key)
            </div>
            <div class="col">
                @Html.DisplayFor(x => item.Value)
            </div>

        </div>
    }
</div>
