@model SpendMonitor.Models.TblExpenditure

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>TblExpenditure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpShop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpShop)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpCategoryNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpCategoryNavigation.CategoryName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Expid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
