@model IEnumerable<SpendMonitor.Models.TblExpenditure>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>My Expenditures</h1>

<p>
    <a asp-action="Create">New Expense</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Expenditure Date", "Index", new { sortOrder = ViewBag.DateSortParm })
            </th>
            <th>
                Amount
            </th>
            <th>
                Category
            </th>
            <th>
                Account
            </th>
            <th>
                Shop Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpCategoryNavigation.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpAccountNavigation.AccountBankName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpShop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Expid">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.Expid">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

@*<br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index",
        new { page, currentFilter = ViewBag.CurrentFilter }))*@
