@model IEnumerable<SpendMonitor.Models.Expenditure>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpShop)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpShop)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Expid">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Expid">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Expid">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
